*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background: cornsilk;
    height:100vh;


}

.anime{
    width:17vw;
    height:38vh;
    box-shadow: 4px 5px 8px rgb(0, 0, 0, 0.9);
    
}
.anime2{
    margin-top: 60px;
    width:17vw;
    height:38vh;
    box-shadow: 4px 5px 8px rgb(0, 0, 0, 0.9);
    
}
 .main1{
    display:flex;
    justify-content: space-around;
    margin-top: 19px;
 }

 .main2{
    margin-top: 18px;
    display:flex;
    justify-content: space-evenly;
 }

span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 70px;
    font-size: x-large;
    margin-top: 20px;
    color: #a49b17;
text-shadow: 0px 11px 10px rgba(81,67,21,0.9);
   cursor: pointer;
}
  .new{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 70px;
    font-size: x-large;
    margin-top: 20px;
    color: #a49b17;
text-shadow: 0px 2px 3px rgba(81,67,21,0.8);
   cursor: pointer;
   
  }
   h2{
     font-family: cursive;
     text-align: center;
     letter-spacing: 7px;
     
   }